// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Nosifer);

html, section, div, body {
	background-color: black;
	background-image: url('background.jpg');
}

h1, p, h2, h3 {
	color: #B4B4B4;
}

h1, h2 {
	font-family: 'Nosifer', cursive;
	color: red;
}

.style_image {
	float: left;
}

.style_ship {
	float: right;
	margin-top: -90px;
}



body {

width: 1000px;
margin:10px auto;
}

.product {
	border: 2px grey solid;
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
	margin: 5px auto;
	width: 350px;
	float: right;
	text-align:center;
	color: #CCCCCC; 
} 

.description, .price, .qty {
	text-align: left;
}

.price {
	color: red;
	font-weight: bold;
	margin-top: -5px;
}

.qty {
	margin-top: -5px;
}
.image {
	border: 1px grey solid;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	margin: 5px auto;
	float: right;
}

.description {
	width: 150px;

}

nav#below  {
	margin-right: 5px;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	height: 40px;
	width: 100%;
	text-align: center;
	
}

nav#below ul li {
	vertical-align:-15px;
	text-align: center;
	display: inline;
	font-family: "Segoe UI";
	font-size: 130%;
	letter-spacing: 1px;
	margin-left: 25px;
	font-weight: bolder;
}

nav#below a {
	display: inline-block;
	color: #CCCCCC;
	font-weight: bolder;
	border-bottom: none;
	text-decoration: none;
}

nav#below a:hover {
	color: red;
}

aside#side {
	float: left;
	margin-left: -23px;
	width: 150px;
	text-decoration: none;

}

aside#side ul li {

	text-align: left;
	font: "Segoe UI";
	font-size: 110%;
	font-weight: bolder;
	color: black;
	letter-spacing: 1px;
	margin-left: 5px;
	text-decoration: none;
	list-style: none;
	color: red;
}

aside#side a {
	
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	width: 165px;
	height: 25px;
	padding-top: 13px;
	padding-bottom: 7px;
	padding-left: 10px;
	text-align: left;
	display: inline-block;
	color: #CCCCCC;
	font-weight: bolder;
	border-bottom: none;
	text-decoration: none;

}

aside#side a:hover {
	color: red;
}

.newsletter {
	color: red;
	margin-top: 600px;
}

.style_news {
	position:relative;
	margin-top: 10px;
left: 105px;
}

.style_newsII {
	position:relative;
	left: 500px;
	margin-top: -250px;
	margin-bottom: 17px;
}

footer#foot  {
	margin-right: 5px;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -o-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: -ms-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(129, 129, 129) 100%);
	height: 40px;
	width: 100%;
	text-align: center;
	
}

footer#foot ul li {
	vertical-align:-15px;
	text-align: center;
	display: inline;
	font-family: "Segoe UI";
	font-size: 130%;
	letter-spacing: 1px;
	margin-left: 35px;
	font-weight: bolder;
}

footer#foot a {
	display: inline-block;
	color: #CCCCCC;
	font-weight: bolder;
	border-bottom: none;
	text-decoration: none;
}

footer#foot a:hover {
	color: red;
}

h4 {
	text-align: center;
	font-weight: bolder;
	font-size: 200%;
}

.style_add {
	padding: 75px;
	position:relative;
	margin-top: 5px;
	margin-left: 290px;
}

.style_checkout {
	position:relative;
	margin-top: -75px;
	margin-left: 525px;

}

.search {
	position:relative;
	text-align: center;
	padding: 10px;
}

p.search {
	font-weight: bolder;
	font-size: 150%;
}

.results {
	padding: 10px;
	margin-top: 200px;
	color: black;
}

form {
	width: 500px;
	margin-left: 275px;
}