<%= image_tag("metal.gif", :class => "style_image", :alt => "Shred") %>
<h1>Shred Epidemic</h1>
<h2>Guitar Store</h2>
</br>
</br>
<nav id="below">
	<ul>
		<li><a href="#">Log In</a></li>
		<li><a href="#">Create Account</a></li>
		<li><a href="#">Order Status</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">Free Shipping</a></li>
		<li><a href="#">Clearance</a></li>
		<li><a href="#">Search</a></li>
	</ul>
</nav>
<aside id="side">
	<ul>
		<li><a href="#">Guitars</a></li>
		<li><a href="#">Amps</a></li>
		<li><a href="#">Bass Guitars</a></li>
		<li><a href="#">Accessories</a></li>
	</ul>
</aside>

<% @products.each do |product| %>
	<%= render product %>
<%end%>