<h1>Shred Epidemic</h1>
<% @products.each do |product| %>
	<section class="product">
		<h2><%= product.name %></h2>
		<div class="description">
			<%= product.description %>
		</div>
		<p class="price">
			<%= product.price %>
		</p>
		<p class="qty">
			<%= product.quantity %>
		</p>
	</section>
<%end%>

