<h2 class="search">Product Search By Category</h2>

<%= form_tag search_results_by_catigory_path do %>
	<%= text_field_tag :keywords %>
	<%= submit_tag 'Search' %>
<% end %>

<h4 class="search">
	<%= link_to 'Home', root_path %>
</h4>