<h2 class="search">Search Results</h2>

<% if @products.empty? %>
<p class="search">
	Sorry, your search for enlightenment and '<%= params[:keywords] %>' returned no results.
</p>
<% end %>

<%= render @products %>
</br>
<h4 class="results">
	<%= link_to 'Home', root_path %>
</h4>
